<section class="section section-slider">
    <div class="home__slider">
        <div class="home__slider-item">
            <a href="#">
                <img alt="banner 1" src="./assets/img/banner/banner.png">
            </a>
        </div>

        <div class="home__slider-item">
            <a href="#">
                <img alt="banner 2" src="./assets/img/banner/banner.png">
            </a>
        </div>

        <div class="home__slider-item">
            <a href="#">
                <img alt="banner 3" src="./assets/img/banner/banner.png">
            </a>
        </div>
    </div>
</section>
<!-- Section slider -->

<section class="section section-football bg-dark">
    <div class="container-custom">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="section__title style-2 text-center">
                    <h2>DỰ ĐOÁN ĐỘI THẮNG</h2>
                    <div class="border-title"></div>
                </div>
                <div class="progress-bar__list flex-box just-between">
                    <div class="progress-bar__item">
                        <div class="progress" data-value='64'>
                        <span class="progress-left">
                            <span class="progress-bar border-home"></span>
                        </span>
                            <span class="progress-right">
                            <span class="progress-bar border-home"></span>
                        </span>
                            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="text-normal">64%</div>
                            </div>
                        </div>
                        <div class="progress__detail text-center">
                            <h5 class="text-normal name">BARCELONA</h5>
                            <h5 class="text-normal event">THẮNG</h5>
                        </div>
                    </div>
                    <div class="progress-bar__item">
                        <div class="progress" data-value='35'>
                        <span class="progress-left">
                            <span class="progress-bar border-tie"></span>
                        </span>
                            <span class="progress-right">
                            <span class="progress-bar border-tie"></span>
                        </span>
                            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="text-normal">35%</div>
                            </div>
                        </div>
                        <div class="progress__detail text-center">
                            <h5 class="text-normal event">THẮNG</h5>
                        </div>
                    </div>
                    <div class="progress-bar__item">
                        <div class="progress" data-value='58'>
                        <span class="progress-left">
                            <span class="progress-bar border-away"></span>
                        </span>
                            <span class="progress-right">
                            <span class="progress-bar border-away"></span>
                        </span>
                            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="text-normal">58%</div>
                            </div>
                        </div>
                        <div class="progress__detail text-center">
                            <h5 class="text-normal name">JUVENTUS</h5>
                            <h5 class="text-normal event">THẮNG</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="section__select flex-box">
                    <select class="select-custom">
                        <option value="champion" rel="icon-temperature">CHAMPION LEAGUE</option>
                        <option value="europa">Europa league</option>
                        <option value="premier">Premier League</option>
                        <option value="laliga">La Liga</option>
                        <option value="seriea">Serie A</option>
                        <option value="bundesliga">Bundesliga</option>
                        <option value="vleague">V League</option>
                    </select>
                </div>
                <div class="slider__match">
                    <div class="slider__match__item">
                        <div class="match-top flex-box just-between">
                            <div class="team">
                                <div class="team-logo flex-box">
                                    <img src="./assets/img/match/barcelona.png" alt="Barcelona">
                                </div>
                                <h5 class="text-medium">BARCELONA</h5>
                            </div>
                            <div class="match-time">
                                <h5 class="text-medium">09 : 00 AM</h5>
                                <p>GMT+7</p>
                            </div>
                            <div class="team">
                                <div class="team-logo flex-box">
                                    <img src="./assets/img/match/juventus.png" alt="Juventus">
                                </div>
                                <h5 class="text-medium">JUVENTUS</h5>
                            </div>
                        </div>
                        <div class="match-bottom flex-box">
                            <div class="match-parameter flex-box">
                                <p class="parameter-1">0.00</p>
                                <p class="parameter-2">-0.75</p>
                            </div>
                            <div class="match-button">
                                <a class="text-normal" href="#">CƯỢC NGAY</a>
                            </div>
                            <div class="match-parameter flex-box">
                                <p class="parameter-1">0.00</p>
                                <p class="parameter-2">-0.75</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section football -->

<section class="section section-game">
    <div class="container-custom">
        <div class="section__title text-center">
            <h2>GAME HOT</h2>
            <div class="border-title"></div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="section__game__list flex-box">
                    <div class="section__game__item">
                        <a href="#">
                            <div class="game__item__thumb">
                                <img src="./assets/img/game/ban-ca.jpg" alt="Bắn cá">
                            </div>
                            <h5 class="game__item__title text-normal">BẮN CÁ</h5>
                        </a>
                    </div>
                    <div class="section__game__item">
                        <a href="#">
                            <div class="game__item__thumb">
                                <img src="./assets/img/game/casino.jpg" alt="LIVE CASINO">
                            </div>
                            <h5 class="game__item__title text-normal">LIVE CASINO</h5>
                        </a>
                    </div>
                    <div class="section__game__item">
                        <a href="#">
                            <div class="game__item__thumb">
                                <img src="./assets/img/game/fifa.jpg" alt="THỂ THAO ẢO">
                            </div>
                            <h5 class="game__item__title text-normal">THỂ THAO ẢO</h5>
                        </a>
                    </div>
                    <div class="section__game__item">
                        <a href="#">
                            <div class="game__item__thumb">
                                <img src="./assets/img/game/jackpot.jpg" alt="NỔ HŨ">
                            </div>
                            <h5 class="game__item__title text-normal">NỔ HŨ</h5>
                        </a>
                    </div>
                    <div class="section__game__item">
                        <a href="#">
                            <div class="game__item__thumb">
                                <img src="./assets/img/game/bi-a.jpg" alt="NUMBER GAME">
                            </div>
                            <h5 class="game__item__title text-normal">NUMBER GAME</h5>
                        </a>
                    </div>
                    <div class="section__game__item">
                        <a href="#">
                            <div class="game__item__thumb">
                                <img src="./assets/img/game/keno.jpg" alt="KENO">
                            </div>
                            <h5 class="game__item__title text-normal">KENO</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="game__item">
                    <a href="#">
                        <div class="game__item__thumb">
                            <img src="./assets/img/game/esport.jpg" alt="esport">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="section__button text-center">
            <a href="#" class="button -color-white -bg-image">XEM THÊM</a>
        </div>
    </div>
</section>
<!-- Section game -->

<section class="section section-product">
    <div class="container-custom">
        <div class="section__title text-center">
            <h2>CHỌN SẢN PHẨM ĐỂ CHƠI</h2>
            <div class="border-title"></div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <div class="product__item">
                    <a href="#">
                        <div class="product__item__thumb">
                            <img src="./assets/img/products/the-thao.jpg" alt="THỂ THAO">
                        </div>
                        <h5 class="product__item__title text-normal text-center">THỂ THAO</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="product__item">
                    <a href="#">
                        <div class="product__item__thumb">
                            <img src="./assets/img/products/the-thao-ao.jpg" alt="THỂ THAO ẢO">
                        </div>
                        <h5 class="product__item__title text-normal text-center">THỂ THAO ẢO</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="product__item">
                    <a href="#">
                        <div class="product__item__thumb">
                            <img src="./assets/img/products/cong-game.jpg" alt="CỔNG GAME">
                        </div>
                        <h5 class="product__item__title text-normal text-center">CỔNG GAME</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="product__item">
                    <a href="#">
                        <div class="product__item__thumb">
                            <img src="./assets/img/products/slot-game.jpg" alt="SLOT GAME">
                        </div>
                        <h5 class="product__item__title text-normal text-center">SLOT GAME</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="product__item">
                    <a href="#">
                        <div class="product__item__thumb">
                            <img src="./assets/img/products/quay-so.jpg" alt="QUAY SỐ">
                        </div>
                        <h5 class="product__item__title text-normal text-center">QUAY SỐ</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="product__item">
                    <a href="#">
                        <div class="product__item__thumb">
                            <img src="./assets/img/products/ban-ca.jpg" alt="BẮN CÁ">
                        </div>
                        <h5 class="product__item__title text-normal text-center">BẮN CÁ</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="product__item">
                    <a href="#">
                        <div class="product__item__thumb">
                            <img src="./assets/img/products/number-game.jpg" alt="NUMBER GAME">
                        </div>
                        <h5 class="product__item__title text-normal text-center">NUMBER GAME</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="product__item">
                    <a href="#">
                        <div class="product__item__thumb">
                            <img src="./assets/img/products/tro-choi.jpg" alt="TRÒ CHƠI">
                        </div>
                        <h5 class="product__item__title text-normal text-center">TRÒ CHƠI</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="product__item">
                    <a href="#">
                        <div class="product__item__thumb">
                            <img src="./assets/img/products/in-game.jpg" alt="IN GAME">
                        </div>
                        <h5 class="product__item__title text-normal text-center">IN GAME</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="product__item">
                    <a href="#">
                        <div class="product__item__thumb">
                            <img src="./assets/img/products/keno.jpg" alt="KENO">
                        </div>
                        <h5 class="product__item__title text-normal text-center">KENO</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="product__item">
                    <a href="#">
                        <div class="product__item__thumb">
                            <img src="./assets/img/products/casino.jpg" alt="LIVE CASINO">
                        </div>
                        <h5 class="product__item__title text-normal text-center">LIVE CASINO</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="product__item">
                    <a href="#">
                        <div class="product__item__thumb">
                            <img src="./assets/img/products/lo-de.jpg" alt="LÔ ĐỀ">
                        </div>
                        <h5 class="product__item__title text-normal text-center">LÔ ĐỀ</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section product -->

<section class="section section-fish">
    <div class="container-custom">
        <div class="section__title text-center">
            <h2>BẮN CÁ</h2>
            <div class="border-title"></div>
        </div>
        <div class="section__button text-center">
            <span class="button -color-yellow -number -bg-image-2 -bg-image">$ 2. 000. 000. 000</span>
        </div>
        <div class="fish__slider">
            <div class="section__game__item">
                <a href="#">
                    <div class="game__item__thumb">
                        <img src="./assets/img/fish/banca-thuong.jpg" alt="Bắn cá thưởng">
                    </div>
                    <h5 class="game__item__title text-normal">PHÒNG THƯỜNG</h5>
                </a>
            </div>
            <div class="section__game__item">
                <a href="#">
                    <div class="game__item__thumb">
                        <img src="./assets/img/fish/banca-vip.jpg" alt="Bắn cá phòng VIP">
                    </div>
                    <h5 class="game__item__title text-normal">PHÒNG VIP</h5>
                </a>
            </div>
            <div class="section__game__item">
                <a href="#">
                    <div class="game__item__thumb">
                        <img src="./assets/img/fish/banca-3d.jpg" alt="Bắn cá 3D">
                    </div>
                    <h5 class="game__item__title text-normal">BẮN CÁ 3D</h5>
                </a>
            </div>
        </div>
        <div class="section__button text-center">
            <a href="#" class="button -color-white -bg-image">XEM THÊM</a>
        </div>
    </div>
</section>
<!-- Section fish -->

<section class="section section-slot">
    <div class="container-custom">
        <div class="section__title text-center">
            <h2>TRÒ SLOT CỦA THÁNG</h2>
            <div class="border-title"></div>
            <p class="section__subtitle">Khám phá hàng ngàng trò chơi slot cổ điển đến hiện đại của SV88</p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="section-slot__banner">
                    <img src="./assets/img/slot/star-war.jpg" alt="Star War">
                    <span class="button -color-yellow -number -bg-image-3 -bg-image"><img src="./assets/img/slot/hu.png" alt="hũ vàng">$ 2. 000. 000. 000</span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="section-slot__info">
                    <h3 class="text-extra-bold">Nhà Cung Cấp Game</h3>
                    <div class="section-slot__list flex-box">
                        <div class="section-slot__item">
                            <img src="./assets/img/slot/sexy.png" alt="Sexy">
                        </div>
                        <div class="section-slot__item">
                            <img src="./assets/img/slot/symbols.png" alt="symbols">
                        </div>
                        <div class="section-slot__item">
                            <img src="./assets/img/slot/microgaming.png" alt="microgaming">
                        </div>
                        <div class="section-slot__item">
                            <img src="./assets/img/slot/pragmatic.png" alt="pragmatic">
                        </div>
                    </div>
                    <div class="section__button text-center">
                        <a href="#" class="button -color-white -bg-image">CƯỢC NGAY</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section slot -->

<section class="section section-function">
    <div class="container-custom">
        <div class="section__title text-center">
            <h2>CÁC TÍNH NĂNG</h2>
            <div class="border-title"></div>
        </div>
        <div class="section-function__list flex-box just-between">
            <div class="section-function__item text-center">
                <div class="section-function__thumb flex-box">
                    <img src="./assets/img/function/security.svg" alt="Bank Security">
                </div>
                <h5 class="section-function__title text-normal">Bảo Mật Ngân Hàng</h5>
            </div>
            <div class="section-function__item text-center">
                <div class="section-function__thumb flex-box">
                    <img src="./assets/img/function/tranfer.svg" alt="Tranfer">
                </div>
                <h5 class="section-function__title text-normal">Gửi Tiền Siêu Nhanh</h5>
            </div>
            <div class="section-function__item text-center">
                <div class="section-function__thumb flex-box">
                    <img src="./assets/img/function/support.svg" alt="Support">
                </div>
                <h5 class="section-function__title text-normal">Hỗ Trợ Trực Tuyến 24/7</h5>
            </div>
            <div class="section-function__item text-center">
                <div class="section-function__thumb flex-box">
                    <img src="./assets/img/function/game-number.svg" alt="Game Number">
                </div>
                <h5 class="section-function__title text-normal">Nền Tảng Game Số Một</h5>
            </div>
            <div class="section-function__item text-center">
                <div class="section-function__thumb flex-box">
                    <img src="./assets/img/function/vr.svg" alt="VR">
                </div>
                <h5 class="section-function__title text-normal">NHẬP VAI</h5>
            </div>
            <div class="section-function__item text-center">
                <div class="section-function__thumb flex-box">
                    <img src="./assets/img/function/withdraw.svg" alt="withdraw">
                </div>
                <h5 class="section-function__title text-normal">Rút Tiền Siêu Nhanh</h5>
            </div>
        </div>
    </div>
</section>
<!-- Section function -->

<section class="section -casino">
    <div class="container-custom">
        <div class="section__title text-center">
            <h2>CASINO</h2>
            <div class="border-title"></div>
            <p class="section__subtitle">Trải nghiệm Casino trực tuyến hiện đại, đẹp mắt, đa dạng <br> cùng dealer sexy và xinh đẹp chỉ có tại SV88</p>
        </div>

        <div class="casino__slider">
            <div class="casino__slider_item">
                <div class="casino__thumb">
                    <img src="./assets/img/casino/casino-1.jpg" alt="casino">
                </div>
                <div class="casino__detail">
                    <img class="casino-logo" src="./assets/img/casino/sunbet.png" alt="sunbet">
                    <div class="casino__text">
                        <h6>Sunbet</h6>
                        <p>Casino sunbet</p>
                    </div>
                </div>
            </div>
            <div class="casino__slider_item">
                <div class="casino__thumb">
                    <img src="./assets/img/casino/casino-1.jpg" alt="casino">
                </div>
                <div class="casino__detail">
                    <img class="casino-logo" src="./assets/img/casino/evolution.png" alt="evolution">
                    <div class="casino__text">
                        <h6>Evolution</h6>
                        <p>Casino Evolution</p>
                    </div>
                </div>
            </div>
            <div class="casino__slider_item">
                <div class="casino__thumb">
                    <img src="./assets/img/casino/casino-3.jpg" alt="casino">
                </div>
                <div class="casino__detail">
                    <img class="casino-logo" src="./assets/img/casino/sexy.png" alt="sexy">
                    <div class="casino__text">
                        <h6>Sunbet</h6>
                        <p>Casino sunbet</p>
                    </div>
                </div>
            </div>
            <div class="casino__slider_item">
                <div class="casino__thumb">
                    <img src="./assets/img/casino/casino-1.jpg" alt="casino">
                </div>
                <div class="casino__detail">
                    <img class="casino-logo" src="./assets/img/casino/evolution.png" alt="evolution">
                    <div class="casino__text">
                        <h6>Evolution</h6>
                        <p>Casino Evolution</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
