<footer id="footer" class="footer">
    <div class="footer__top">
        <div class="container-custom">
            <div class="row">
                <div class="col-custom-5">
                    <div class="footer__information">
                        <div class="footer__information-title">Loại Trò Chơi</div>
                        <ul class="footer__information-menu">
                            <li><a href="thethao.html">THỂ THAO</a></li>
                            <li><a href="esports.html">ESPORTS</a></li>
                            <li><a href="casino.html">CASINO</a></li>
                            <li><a href="banca.html">BẮN CÁ</a></li>
                            <li><a href="slot-game.html">SLOT GAMES</a></li>
                            <li><a href="poker.html">POKER</a></li>
                            <li><a target="_blank" href="#">ĐÁ GÀ</a></li>
                            <li><a href="trodangian.html">TRÒ DÂN GIAN</a></li>
                            <li><a href="xoso.html">XỔ SỐ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-custom-5">
                    <div class="footer__information">
                        <div class="footer__information-title">Giới thiệu về SV88</div>
                        <ul class="footer__information-menu">
                            <li><a data-target="#about" data-toggle="modal" href="javascript:void(0)">Giới Thiệu</a></li>
                            <li><a data-target="#terms" data-toggle="modal" href="javascript:void(0)">Điều Khoản Phục Vụ</a></li>
                            <li><a data-target="#privacy" data-toggle="modal" href="javascript:void(0)">Chính Sách Bảo Mật</a></li>
                            <li><a data-target="#disclaimer" data-toggle="modal" href="javascript:void(0)">Miễn Trách Nhiệm</a></li>
                            <li><a data-target="#generaltermsandconditions" data-toggle="modal" href="javascript:void(0)">Điều Khoản Và Điều Kiện Chung Của Khuyến Mãi</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-custom-5">
                    <div class="footer__information">
                        <div class="footer__information-title">Hỗ Trợ</div>
                        <ul class="footer__information-menu">
                            <li><a data-target="#faq" data-toggle="modal" href="javascript:void(0)">Câu Hỏi Thường Gặp</a></li>
                            <li><a data-target="#rules" data-toggle="modal" href="javascript:void(0)">Luật Chơi</a></li>
                            <li><a data-target="#responsible" data-toggle="modal" href="javascript:void(0)">Cá Cược Có Trách Nhiệm</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-custom-5">
                    <div class="footer__information">
                        <div class="footer__information-title">Liên Kết Hữu Dụng</div>
                        <ul class="footer__information-menu">
                            <li><a href="khuyenmai.html">Khuyến Mãi</a></li>
                            <li><a data-target="#myLogin" data-toggle="modal" href="javascript:void(0)">GỬI TIỀN</a></li>
                            <li><a data-target="#myLogin" data-toggle="modal" href="javascript:void(0)">CHUYỂN TIỀN</a></li>
                            <li><a data-target="#supportingbanks" data-toggle="modal" href="javascript:void(0)">Hỗ trợ ngân hàng</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-custom-5">
                    <div class="footer__information">
                        <div class="footer__information-title">LIÊN HỆ</div>
                        <div class="footer__contact flex-box just-between">
                            <div class="contact-item">
                                <div class="contact-show">
                                    <div class="contact-icon">
                                        <img alt="mobile" src="./assets/img/footer/mobile.svg">
                                    </div>
                                    <div class="contact-text">
                                        <h5>Mobile</h5>
                                        <p>+84 986 966 138</p>
                                    </div>
                                </div>
                                <div class="contact-hide flex-box">
                                    <a class="button -color-white -bg-primary" href="#">Gọi ngay</a>
                                </div>
                            </div>
                            <div class="contact-item">
                                <div class="contact-show">
                                    <div class="contact-icon">
                                        <img alt="live-chat" src="./assets/img/footer/live-chat.svg">
                                    </div>
                                    <div class="contact-text">
                                        <h5>Live Chat</h5>
                                        <p>Hỗ Trợ 24/7</p>
                                    </div>
                                </div>
                                <div class="contact-hide flex-box">
                                    <a class="button -color-white -bg-primary" href="#">Live chat</a>
                                </div>
                            </div>
                            <div class="contact-item">
                                <div class="contact-show">
                                    <div class="contact-icon">
                                        <img alt="email" src="./assets/img/footer/email.svg">
                                    </div>
                                    <div class="contact-text">
                                        <h5>hỗ trợ khách hàng</h5>
                                        <p>vcs@138.com</p>
                                    </div>
                                </div>
                                <div class="contact-hide flex-box">
                                    <a class="button -color-white -bg-primary" href="#">gửi email</a>
                                </div>
                            </div>
                            <div class="contact-item">
                                <div class="contact-show">
                                    <div class="contact-icon">
                                        <img alt="email" src="./assets/img/footer/email.svg">
                                    </div>
                                    <div class="contact-text">
                                        <h5>cho đại lý</h5>
                                        <p>affvn@138.com</p>
                                    </div>
                                </div>
                                <div class="contact-hide flex-box">
                                    <a class="button -color-white -bg-primary" href="#">gửi email</a>
                                </div>
                            </div>
                            <div class="contact-item">
                                <div class="contact-show">
                                    <div class="contact-icon">
                                        <img alt="viber" src="./assets/img/footer/viber.svg">
                                    </div>
                                    <div class="contact-text">
                                        <h5>Viber</h5>
                                        <p>+84 986 966 138</p>
                                    </div>
                                </div>
                                <div class="contact-hide flex-box bg-transparent">
                                    <div class="bg-white">
                                        <img alt="viberqr" src="./assets/img/footer/viber-qr.svg">
                                    </div>
                                </div>
                            </div>
                            <div class="contact-item">
                                <div class="contact-show">
                                    <div class="contact-icon">
                                        <img alt="zalo" src="./assets/img/footer/zalo.svg">
                                    </div>
                                    <div class="contact-text">
                                        <h5>Zalo</h5>
                                        <p>+84 939 728 058</p>
                                    </div>
                                </div>
                                <div class="contact-hide flex-box bg-transparent">
                                    <div class="bg-white">
                                        <img alt="zalo-new" src="./assets/img/footer/zalo-new.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__middle">
        <div class="container-custom">
            <div class="footer__border"></div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer__information">
                        <div class="footer__information-title">Quốc gia</div>
                        <div class="footer__information-lang">
                            <div class="btn-group text-small">
                                <a class="dropdown-toggle icon-css" data-toggle="dropdown" href="#"><img alt="vietnam" src="./assets/img/footer/flag/vn.svg">Việt nam <span class="caret"></span></a>
                                <ul class="dropdown-menu ">
                                    <li class="dropdown-item text-small"><a href="#"><img alt="thailan" src="./assets/img/footer/flag/th.svg">Thái lan</a></li>
                                    <li class="dropdown-item text-small"><a href="#"><img alt="china" src="./assets/img/footer/flag/cn.svg">china</a></li>
                                    <li class="dropdown-item text-small"><a href="#"><img alt="indonesia" src="./assets/img/footer/flag/id.svg">INDONESIA</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="footer__information">
                        <div class="footer__information-title text-center">Theo Dõi Chúng Tôi</div>
                        <div class="footer__information-social flex-box just-between">
                            <div class="social-item">
                                <a href="https://www.facebook.com/Official138VN" target="_blank"><img alt="facebook" src="./assets/img/footer/fb.svg"></a>
                            </div>
                            <div class="social-item">
                                <a href="https://www.instagram.com/official138vn" target="_blank"><img alt="facebook" src="./assets/img/footer/intagram.svg"></a>
                            </div>
                            <div class="social-item">
                                <a href="https://twitter.com/Official138VN" target="_blank"><img alt="facebook" src="./assets/img/footer/twitter.svg"></a>
                            </div>
                            <div class="social-item">
                                <a href="https://www.youtube.com/user/Official138VN" target="_blank"><img alt="facebook" src="./assets/img/footer/youtube.svg"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="footer__information">
                        <div class="footer__information-title">HỢP TÁC VỚI CHÚNG TÔI</div>
                        <div class="footer__information-pagcor">
                            <div class="text-extra-normal">Giấy phép</div>
                            <a href="http://www.pagcor.ph/index.php" target="_blank">
                                <img alt="" class="_J0ja8" src="./assets/img/footer/pagcor@2x.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container-custom">
            <div class="bottom text-center">
                <div class="text-small">
                    <span> © 2020 138 All rights reserved. </span>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Javascript -->
<script src="./assets/js/library/jquery.min.js"></script>
<script src="./assets/js/library/popper.min.js"></script>
<script src="./assets/js/library/bootstrap.min.js"></script>
<script src="./assets/js/library/slick.min.js"></script>
<script src="./assets/js/library/bootstrap-datepicker.js"></script>
<script src="./assets/js/main.js"></script>
