<div class="loading-overlay">
    <div class="loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<header id="header" class="header">
    <div class="header--top">
        <div class="container-custom flex-box just-between">
            <div class="header__left">
                <div class="header__logo">
                    <a href="/"><img src="./assets/img/logo.png" alt="logo"></a>
                </div>
            </div>
            <div class="header--right flex-box just-between">
                <div class="header--icon  flex-box just-between">
                    <div class="header--icon__item">
                        <a href="#"><img src="./assets/img/icon/chat-sv.svg" alt="chat now"></a>
                    </div>
                    <div class="header--icon__item">
                        <a href="#"><img src="./assets/img/icon/box.svg" alt="box"></a>
                    </div>
                </div>
                <form id="frm-quick-login" name="frm-quick-login" class="header__form flex-box just-between">
                    <div class="header__form__group">
                        <input type="text" placeholder="Tên đăng nhập" class="input-custom" name="userName" id="txt-username">
                    </div>
                    <div class="header__form__group">
                        <input type="password" placeholder="Mật khẩu" class="input-custom" name="pwd" id="txt-password">
                    </div>
                    <button type="submit" class="button -color-black -bg-primary">ĐĂNG NHẬP</button>
                    <a href="#" class="button -color-black -bg-white">ĐĂNG KÝ</a>
                </form>
            </div>
        </div>
    </div>
    <div class="header--menu">
        <div class="container-custom">
            <ul class="header--menu_nav flex-box just-between">
                <li class="header--menu__item active">
                    <a href="#" class="header--menu__link custom-after" title="Thể thao">THỂ THAO</a>
                </li>
                <li class="header--menu__item">
                    <a href="#" class="header--menu__link custom-after" title="Thể thao ảo">THỂ THAO ẢO</a>
                </li>
                <li class="header--menu__item">
                    <a href="#" class="header--menu__link custom-after" title="Cổng game">
                        CỔNG GAME
                        <span class="menu-note">Mới</span>
                    </a>
                </li>
                <li class="header--menu__item">
                    <a href="#" class="header--menu__link custom-after" title="Slots">SLOTS</a>
                </li>
                <li class="header--menu__item">
                    <a href="#" class="header--menu__link custom-after" title="Quay số">
                        QUAY SỐ
                        <span class="menu-note">Mới</span>
                    </a>
                </li>
                <li class="header--menu__item">
                    <a href="#" class="header--menu__link custom-after" title="Bắn cá">
                        BẮN CÁ
                        <span class="menu-note hot">HOT</span>
                    </a>
                </li>
                <li class="header--menu__item">
                    <a href="#" class="header--menu__link custom-after" title="Number game">NUMBER GAME</a>
                </li>
                <li class="header--menu__item">
                    <a href="#" class="header--menu__link custom-after" title="Trò chơi">TRÒ CHƠI</a>
                </li>
                <li class="header--menu__item">
                    <a href="#" class="header--menu__link custom-after" title="Live casino">LIVE CASINO</a>
                </li>
                <li class="header--menu__item">
                    <a href="#" class="header--menu__link custom-after" title="Keno">KENO</a>
                </li>
                <li class="header--menu__item">
                    <a href="#" class="header--menu__link custom-after" title="In game">IN GAME</a>
                </li>
                <li class="header--menu__item">
                    <a href="#" class="header--menu__link custom-after" title="Lô đề">LÔ ĐỀ</a>
                </li>
            </ul>
        </div>
    </div>
</header>
