* {
    box-sizing: border-box;
    outline: none;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

button:focus, button:active {
    outline: none;
}

a {
    color: $gray-4;
    transition: all .3s;
}

a:hover {
    color: $primary;
    text-decoration: none;
}

body {
    font-family: $font-family;
    font-size: $font-base;
    background: $secondary;
    color: $gray-4;
    line-height: $line-height-base;
}

// Custom class
.container-custom, .col-custom-5 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.flex-box {
    display: flex;
    align-items: center;
}

.just-between {
    justify-content: space-between;
}

.custom-after {
    position: relative;

    &:after {
        position: absolute;
        left: 0;
        bottom: 0;
        content: "";
        width: 100%;
    }
}

// Variable text font
.text-small {
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.75px;
    line-height: 24px;
}

.text-extra-normal {
    font-size: 14px;
    font-weight: $font-bold;
    line-height: 18px;
}

.text-normal {
    font-size: 16px;
    font-weight: $font-bold;
    line-height: 32px;
    letter-spacing: 1px;
    color: $white;
}

.text-medium {
    font-size: 20px;
    font-weight: $font-semi-bold;
    line-height: 40px;
    letter-spacing: 1.25px;
}

.text-extra-bold {
    font-size: 28px;
    font-weight: $font-bold;
    line-height: 56px;
    letter-spacing: 1.5px;
}

// custom slick slider
.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots {
    bottom: 0;
    text-align: right;

    li {
        width: auto;
        height: auto;
        margin: 0;
        button {
            display: inline-block;
            width: 16px;
            height: 16px;
            margin: 0 5px;
            padding: 0;
            border-radius: 50px;
            background-color: rgba(247, 114, 64, 0.4);
        }

        &.slick-active button {
            width: 32px;
            background-color: #F67240;
        }
    }

    .home__slider & {
        position: relative;
        margin: 0 auto;
        margin-top: -40px;
    }
}
.slick-slide {
    height: auto;
}




@media (min-width: $small) {
    .container-custom, .home__slider .slick-dots {
        max-width: 540px;
    }

    .col-custom-5 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: $medium) {
    .container-custom, .home__slider .slick-dots {
        max-width: 720px;
    }

    .col-custom-5 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: $large) {
    .container-custom, .home__slider .slick-dots {
        max-width: 960px;
    }

    .col-custom-5 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: $extra-large) {
    .container-custom, .home__slider .slick-dots {
        max-width: $container-width;
    }

    .col-custom-5 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}









