.button {
  font-weight: $font-bold;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 8px 19px;
  display: inline-block;

  &.-color-black {
    color: $black;
  }

  &.-color-white {
    color: $white;
  }

  &.-color-yellow {
    color: $yellow;
    font-weight: $font-bold;
    font-size: 20px;
    line-height: 32px;
  }

  &.-bg-primary {
    background-color: $primary;
  }

  &.-bg-white {
    background-color: $white;
  }

  &.-bg-image {
    background: url("./assets/img/bg-button.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 174px;
    height: 52px;
    padding: 0;
    line-height: 52px;
  }

  &.-bg-image-2 {
    background: url("./assets/img/bg-button-2.svg");
    width: 312px;
    height: 64px;
    line-height: 64px;
    margin-bottom: 30px;
    cursor: initial;
  }

  &.-bg-image-3 {
    background: url("./assets/img/bg-button-3.png");
    width: 238px;
    height: 38px;
    line-height: 38px;
    cursor: initial;
  }
}
