/* Modal */

.form-modal {
  background-color: $secondary;
  border-radius: 10px;
  padding: 16px;

  .modal-header {
    padding: 0;
    border-bottom: none;
  }

  .text-note-form {
    color: #9297a8;
    font-weight: 400;
    margin: 0 0 32px;
    letter-spacing: 1.15px;
    line-height: 1.43;
  }

  .form-note-phone {
    letter-spacing: .8px;
    margin: -10px 0 25px 18px;
    color: $gray;
    font-size: 14px;
  }

  .modal-body {
    padding: 0;
  }

  .close {
    color: $white;
    opacity: 1;
  }

  .form {
    display: flex;
    flex-direction: column;

    h3 {
      color: $white;
      font-size: 24px;
      font-weight: $font-bold;
      margin: 0 0 26px;
    }

    .form-wrap {
      margin-bottom: 20px;
      display: flex;
      width: 100%;
      flex-direction: column;

      .form-wrap-input {
        border: 1.5px solid $dark;
        border-radius: 0 10px 10px 10px;
        display: flex;
        height: 63px;
        position: relative;
        transition: border .25s;
        width: 100%;

        i {
          display: flex;
          align-items: center;
          font-size: 24px;
          height: 100%;
          position: absolute;
          right: 12px;
          color: $gray-2;
        }

        i.active:before {
          content: "\f070";
        }
      }

      &.error .form-wrap-input {
        border-color: $secondary;
        color: $secondary;
      }

      &.error .form-note {
        display: block;
      }

      &.error .form-label {
        color: $secondary;
      }

      .form-label {
        background: $secondary;
        color: $gray;
        font-size: 9px;
        font-style: normal;
        font-weight: $font-bold;
        height: 11px;
        left: 20px;
        letter-spacing: 1.2px;
        line-height: 1.22;
        padding: 0 3px;
        position: absolute;
        top: -6px;
        text-transform: uppercase;
        transition: color .25s;
      }

      .form-input {
        background: none;
        color: $white;
        border: none;
        font-size: 16px;
        font-stretch: normal;
        font-style: normal;
        font-weight: $font-normal;
        letter-spacing: 1.2px;
        line-height: 1.5;
        padding: 20px 20px 18px;
        width: 100%;
      }

      .form-span {
        color: $white;
        font-size: 16px;
        font-weight: $font-normal;
        height: 100%;
        letter-spacing: 1.2px;
        padding-left: 20px;
        align-items: center;
        display: flex;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
      }

      .form-note {
        display: none;
        font-size: 12px;
        line-height: 1.67;
        letter-spacing: 1.2px;
        padding-left: 20px;
        border-color: $secondary;
        color: $secondary;
      }

    }

    .button {
      padding: 18px 36px;
      border-radius: 26px;
    }

    .disabled {
      background: hsla(0, 0%, 100%, .2);
    }

    &-link {
      align-items: center;
      color: $white;
      display: flex;
      font-size: 14px;
      font-weight: $font-bold;
      justify-content: center;
      letter-spacing: 1.75px;
      margin: 24px 0 16px;
      text-decoration: none;
      text-transform: uppercase;

      i {
        color: $gray;
        margin-left: 6px;
      }
    }

    .form-cookies-consent {
      margin-bottom: 37px;

      input[type="checkbox"] {
        opacity: 0;
        float: left;
        width: 8%;
      }

      label {
        position: relative;
        float: left;
        width: 92%;
        color: $gray;
        cursor: pointer;
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        font-weight: $font-normal;
        letter-spacing: .8px;
        line-height: 1.57;

        &:before {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          border: 1.5px solid $dark;
          box-shadow: 0px 1px 10px $dark;
          height: 23px;
          min-width: 23px;
          position: absolute;
          content: "";
          top: 0;
          left: -38px;
          width: 23px;
        }

        &:after {
          content: "";
          position: absolute;
          top: 4px;
          left: -34px;
          background-color: $white;
          border-radius: 50%;
          display: inline-block;
          height: 15px;
          width: 15px;
          transition: opacity .2s ease-in-out;
        }

        a {
          color: $gray;
          font-size: 12px;
          font-weight: $font-bold;
          letter-spacing: 1.5px;
          line-height: 1.5;
          margin-left: 8px;
          text-align: center;
          text-decoration: underline;
          text-transform: uppercase;
        }
      }

      input[type="checkbox"]:checked + label::after {
        background-color: $secondary;
      }

      input[type="checkbox"]:checked + label::before {
        border-color: $secondary;
      }
    }

    .forgot-pass {
      align-self: flex-end;
      border-bottom: 1px solid $dark;
      color: $gray;
      font-size: 12px;
      font-weight: $font-bold;
      letter-spacing: 1.5px;
      line-height: 1.5;
      margin-bottom: 48px;
      text-decoration: none;
      text-transform: uppercase;
    }

    .form-help {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 32px;

      span {
        color: $gray;
        font-size: 12px;
        font-stretch: normal;
        font-style: normal;
        font-weight: $font-normal;
        letter-spacing: 1.2px;
        line-height: 1.67;
        padding-right: 5px;
      }

      a {
        font-size: 12px;
        font-weight: $font-bold;
        letter-spacing: 1.5px;
        line-height: 1.5;
        margin: 0;
        text-transform: uppercase;
      }
    }

    .select-text {
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 1.2px;
      line-height: 1.57;
      color: $white;
      font-weight: $font-bold;
      margin-bottom: 22px;
    }

    .form-text.select-text {
      font-weight: $font-normal;
      color: $gray;

      a {
        font-weight: $font-bold;
        font-size: 12px;
        letter-spacing: 1.5px;

        &:hover {
          color: $primary;
        }
      }
    }

    .form-select {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .wrap-select {
        padding: 0px 7px;
      }

      .select-text {
        font-weight: $font-normal;
        letter-spacing: 1px;
      }

      .button {
        width: 100%;
      }

      span {
        font-size: 14px;
        color: $white;
        text-align: center;
        display: inline-block;
        margin-top: 10px;
      }
    }

  }

  .modal-title {
    color: $white;
    margin: 5px 5px 0;
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    font-weight: $font-bold;
    letter-spacing: 1.2px;
    line-height: 1.42;
  }

  .modal-information {
    padding: 10px 5px;

    h3 {
      color: $white;
      font-size: 18px;
      font-weight: $font-bold;
      letter-spacing: 1px;
      line-height: 1.44;
      margin: 20px 0px;
    }

    p {
      margin-bottom: 15px;
      font-size: 14px;
      letter-spacing: 1.2px;
      line-height: 1.57;
    }

    strong {
      color: $white;
    }

    ol {
      list-style-type: decimal;
      padding-left: 25px;
      color: $gray;
      ol {
        list-style-type: lower-alpha;
      }
      ul {
        list-style-type: initial;
        padding-left: 25px;
      }
    }

    table {
      font-size: 14px;
      font-weight: $font-normal;
      letter-spacing: 1.2px;
      line-height: 1.57;
      color: $gray;
      margin-bottom: 15px;
    }

    .title-table {
      background: $gray-3;
      color: $white;
    }

  }

  .modal-information.style2 {
    p {
      margin-bottom: 0;
    }
  }

  .text-white p {
    color: $white;
  }

  //  modal support
  .header-support {
    display: flex;
    align-items: baseline;
    margin: 0 10px;

    h3 {
      color: $white;
      font-size: 24px;
      font-weight: $font-bold;
      margin-right: 20px;
    }

    span {
      color: $white;
    }

    a {
      color: $primary;
      font-weight: $font-bold;
      margin-left: 5px;
    }
  }

  .wrap-content {
    margin-bottom: 10px;
    text-decoration: none;

    .item-support {
      float: left;
      width: 33.33333%;
      margin-bottom: 20px;
      padding: 0 12px;
    }

    .item-img {
      background-color: $white;
      border-radius: 10px;
      padding: 10px;

      img {
        width: 70%;
        display: block;
        margin: auto;
      }
    }
  }

  .footer-support {
    text-align: center;
    margin-bottom: 20px;

    a {
      color: $primary;
      font-weight: $font-bold;
    }
  }

  &.modal-game {
    padding: 0;
    border-radius: 0;

    .modal-header {
      background: $secondary;
      padding: 0px 20px;
    }

    .wrap-wallet {
      background: $secondary;
      padding: 15px;

      h1 {
        margin-bottom: 20px;
      }
    }

    .form-transfers, .overbalance {
      padding: 10px;
      border-radius: 8px;
      background: $secondary;
    }
  }
}

.account-blance {
  height: 45px;
  justify-content: space-between;
  padding: 0px 15px;
  border-bottom: 1px solid rgba(46,48,53,.5);

  p {
    color: $gray;
    font-weight: $font-bold;
  }
}

#postAccount, #getAccount {
  z-index: 1052;
}

.accordion-item {
  .accordion-title {
    align-items: center;
    background-color: $secondary;
    border-radius: 10px;
    color: $white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    position: relative;
    width: 100%;
    margin-bottom: 8px;
  }

  .card-body {
    padding: 10px 0px;
  }
}

@media (max-width: $medium - 1) {
  .modal-dialog {
    margin: 0;
  }
}

@media (min-width: $medium) {
  .modal-open .modal-custom {
    overflow-y: hidden;
  }
  .modal-custom {
    .modal-form {
      margin: 0px auto;
      top: 70px;
      max-width: 600px;
    }

    .modal-content {
      border: none;
    }
  }
}
