.scrollbar::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar,
.scrollbar-x::-webkit-scrollbar-track,
.scrollbar-x::-webkit-scrollbar-thumb,
.scrollbar-x::-webkit-scrollbar, {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.scrollbar {
  max-height: calc(100% - 140px);
  min-height: 667px;
  overflow-x: hidden;
  overflow-y: auto;
}

.scrollbar-x {
  overflow-y: auto;
  width: 100%;
}

.scrollbar::-webkit-scrollbar-track ,
.scrollbar-x::-webkit-scrollbar-track {
  border-radius: 0px;
  background: $dark;
}

.scrollbar::-webkit-scrollbar,
.scrollbar-x::-webkit-scrollbar {
  width: 5px;
  background-color: $dark;
}

.scrollbar::-webkit-scrollbar-thumb,
.scrollbar-x::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: linear-gradient(left, $secondary, $secondary);
  border: 1px solid $secondary;
}
.scrollbar-x::-webkit-scrollbar {
  height: 5px;
}

html.scrollbar {
  min-height: initial;
  max-height: initial;
}
