.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select-button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: $gray-4;
  width: 65%;
  height: 48px;
}
.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-weight: $font-semi-bold;
  text-transform: uppercase;
  background: linear-gradient(90deg, $black-3 0%, #232323 76.71%);
  border-radius: 6px 0px 0px 0px;
  padding: 8px 15px;
  &:after {
    content:"";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: $gray-4 transparent transparent transparent;
    position: absolute;
    top: 21px;
    right: 14px;
  }
  &:hover {
    background-color: darken($black-3, 2);
  }
  &:active, &.active {
    background-color: darken($black-3, 5);
    &:after {
      top: 9px;
      border-color: transparent transparent $gray-4 transparent;
    }
  }
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background: linear-gradient(90deg, #121110 0%, #232323 76.71%);
  li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid $black-3;
    text-transform: uppercase;
    font-weight: $font-semi-bold;
    &:hover {
      color: $black-3;
      background: $gray-4;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}
