// Color
$primary: #FF4700;
$secondary: #1D1D1D;

$white: #ffffff;
$orange: #BF4C20;
$yellow: #FDFA8B;
$black: #000000;
$black-2: #151313;
$black-3: #121110;
$black-4: #232323;
$dark: #2F2F2F;
$dark-2: #4C4C4C;
$gray:#5A5A5A;
$gray-2:#A8A8A8;
$gray-3:#F9F9F9;
$gray-4:#F5FAFF;

$progress-1: #FC3A3A;
$progress-2: #FFF0F0;
$progress-3: #00FFF0;
$progress-4: #232323;

// Fonts
$font-base: 16px;
$font-family: 'Montserrat', sans-serif;
$font-family-secon: 'Roboto', sans-serif;
$font-black:900;
$font-extra-bold:800;
$font-bold: 700;
$font-semi-bold: 600;
$font-medium: 500;
$font-normal: 400;
$font-light: 300;
$font-extra-light: 200;
$font-thin: 100;

$line-height-base: 32px;

// Screen size
$container-width: 1400px;
$extra-large: 1200px;
$large: 992px;
$medium: 768px;
$small: 576px;
