.section {
  padding: 60px 0px;

  &-slider {
    padding: 0;
  }

  &__title {
    margin-bottom: 32px;
    h2 {
      position: relative;
      font-size: 36px;
      line-height: 72px;
      letter-spacing: 2.25px;
      font-weight: $font-bold;
      display: inline-block;
    }

    .border-title {
      height: 4px;
      width: 120px;
      margin: 0 auto;
      background-color: $orange;
      border-radius: 3px;
    }

    &.style-2 {
      h2 {
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 1.25px;
      }
    }
  }

  &__subtitle {
    font-weight: $font-medium;
    letter-spacing: 1px;
    margin: 16px 0px 32px;
  }

  &__button {
    margin-top: 10px;
  }

  &__game__list {
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__game__item {
    width: 33.3333333%;
    padding: 0px 15px;
    margin-bottom: 30px;

    a {
      position: relative;
      display: block;
    }

    .game__item__thumb {
      border-radius: 4px;
    }

    img {
      border-radius: 4px;
    }

    .game__item__title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      font-weight: $font-extra-bold;
      margin-bottom: 0;
      padding: 8px;
      background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.8) 100%) repeat-x;
    }
  }

  // section slot
  &-slot {
    padding: 0px;

    &__banner {
      position: relative;

      .button {
        position: absolute;
        top: 8px;
        right: 8px;
        font-size: 16px;
        letter-spacing: 1px;
        text-shadow: 0px 6px 6px rgba(32, 18, 3, 0.3), 0px 4px 4px rgba(21, 13, 3, 0.4), 0px 1px 1px rgba(21, 13, 3, 0.4), 0px 0px 0px rgba(21, 13, 3, 0.4);

        img {
          margin-right: 8px;
        }
      }
    }

    &__list {
      flex-wrap: wrap;
    }

    &__item {
      width: 50%;
      text-align: center;
      margin-bottom: 40px;
    }
  }

  //  section Function
  &-function {
    padding: 60px 0px 50px;

    .section__title {
      margin-bottom: 50px;
    }

    &__item {
      flex-wrap: wrap;

      & .section-function__thumb {
        justify-content: center;
        margin-bottom: 20px;

        img {
          transition: all 0.3s;
        }
      }

      h5 {
        letter-spacing: 0.01em;
        font-weight: $font-medium;
      }

      &:hover img {
        transform: rotateY(180deg);
      }
    }
  }

  // section casino
  &-casino {
    padding: 60px 0px 64px;
  }

  .casino__slider {
    margin-bottom: 10px;

    &_item {
      position: relative;

      .casino__thumb {

        img {
          border-radius: 8px;
        }
      }

      .casino__detail {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 16px;
        background: linear-gradient(180deg, rgba(16, 22, 26, 0.6) 0%, #10161A 100%);

        .casino-logo {
          float: left;
          margin-right: 16px;
        }

        .casino__text {
          overflow: hidden;
          border-left: 1px solid $gray-4;
          padding-left: 16px;
          h6 {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 1px;
            font-weight: $font-bold;
            margin-bottom: 4px;
          }
          p {
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.75px;;
            margin-bottom: 0;
          }
        }
      }

      &.slick-center {
        transform: scale(1.08);
      }

    }
  }

}
// .section

.product__item {
  margin-bottom: 15px;

  &__thumb {
    border-radius: 4px;
    margin-bottom: 15px;

    img {
      border-radius: 4px;
    }
  }

  &__title {
    margin-bottom: 0;
  }
}

.bg-dark {
  background: linear-gradient(0deg, $dark, $dark);
}

// Progress bar
.progress-bar__list {
  align-items: baseline;

  .progress__detail {
    h5 {
      margin-bottom: 0;
    }
  }
}

.progress {
  width: 128px;
  height: 128px;
  background: none;
  position: relative;
  margin-bottom: 20px;

  .border-home {
    border-color: $progress-1;
  }

  .border-tie {
    border-color: $progress-2;
  }

  .border-away {
    border-color: $progress-3;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 20px solid $progress-4;
    position: absolute;
    top: 0;
    left: 0;
  }

  & > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .progress-left {
    left: 0;

    .progress-bar {
      left: 100%;
      border-top-right-radius: 80px;
      border-bottom-right-radius: 80px;
      border-left: 0;
      -webkit-transform-origin: center left;
      transform-origin: center left;
    }
  }

  .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 20px;
    border-style: solid;
    position: absolute;
    top: 0;
  }

  .progress-right {
    right: 0;

    .progress-bar {
      left: -100%;
      border-top-left-radius: 80px;
      border-bottom-left-radius: 80px;
      border-right: 0;
      -webkit-transform-origin: center right;
      transform-origin: center right;
    }
  }

  .progress-value {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.slider__match__item {
  margin-top: 2px;
  background: linear-gradient(90deg, $black-3 0%, $black-4 49.85%, $black-3 100%);
  box-shadow: 0px 16px 16px rgba(16, 14, 13, 0.25), 0px 8px 8px rgba(16, 14, 13, 0.25), 0px 4px 4px rgba(16, 14, 13, 0.25), 0px 2px 2px rgba(16, 14, 13, 0.25), 0px 1px 1px rgba(16, 14, 13, 0.25);
  border-radius: 0px 0px 6px 6px;

  .match-top {
    flex-wrap: wrap;
    padding: 25px 20px;
    > div {
      width: 33.33333%;
      text-align: center;
    }

    .team-logo {
      width: 80px;
      height: 80px;
      margin: 0 auto 12px;
      border-radius: 50%;
      background-color: $white;
      justify-content: center;
      border: 2px solid $gray-3;
    }

    .match-time {
      h5 {
        font-weight: $font-bold;
      }

      p {
        font-weight: $font-semi-bold;
        letter-spacing: 1px;
      }
    }
  }

  .match-bottom {
    background-image: url("./assets/img/match/line-match.svg");
    background-repeat: no-repeat;
  }
}



