.footer {
  background-color: $black-2;
  padding: 64px 0px 0px;

  &__information {
    &-title {
      font-size: 20px;
      line-height: 24px;
      font-weight: $font-bold;
      color: $white;
      letter-spacing: 1.25px;
      margin-bottom: 25px;
    }

    &-menu {
      padding-right: 10px;

      li {
        margin-bottom: 5px;
        font-size: 12px;
        line-height: 24px;
        text-transform: uppercase;
         a {
           color: $gray-3;

           &:hover {
             color: $primary;
           }
         }
      }
    }
  }

  &__contact {
    align-items: stretch;
    flex-wrap: wrap;

    .contact-item {
      position: relative;
      width: 50%;
      z-index: 1;
      box-sizing: border-box;
      min-height: 1px;
      padding: 0 2px;
      margin-bottom: 30px;
      cursor: pointer;

      .contact-show {
        .contact-icon {
          margin-bottom: 10px;
          z-index: 2;
          position: relative;
        }

        h5, p {
          font-weight: $font-bold;
          font-size: 12px;
          line-height: 24px;
          letter-spacing: 0.75px;
          color: $gray-4;
          margin-bottom: 5px;
        }

        p {
          font-weight: $font-normal;
        }
      }

      .contact-hide {
        position: absolute;
        z-index: 0;
        top: -10%;
        left: -10%;
        width: 100%;
        border-radius: 12px;
        justify-content: center;
        padding: 70px 2px 15px;
        opacity: 0;
        visibility: hidden;
        background-color: #2e3035;
        transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

        img {
          margin: 10px 15px;
          width: 115px;
          height: 115px;
        }
      }

      &:hover .contact-hide {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__border {
    width: 100%;
    height: 2px;
    background: $gray;
    margin: 20px 0px 50px;
  }

  &__information-lang {
    width: 150px;

    .dropdown-menu {
      max-height: 300px;
      overflow: auto;
      background: $dark;
      border-radius: 5px;
      overflow-y: auto;
      left: -10% !important;
    }

    .dropdown-item {
      padding: 10px 5px 10px 14px;
      &:hover {
        background: transparent;
      }

    }

    .btn-group {
      display: block;
    }

    img {
      display: inline-block;
      margin-right: 10px;
      height: 16px;
      width: 16px;
    }

    a {
      color: $gray-4;
      display: block;

      &:after {
        right: 0;
      }
    }
  }

  &__information-social {
    max-width: 60%;
    margin: 0 auto;
  }

  &__bottom {
    background-color: $dark-2;
    padding: 28px 0px;
    margin-top: 60px;
  }
}
