.header {
  &--top {
    padding: 16px 0px;
    border-bottom: 5px solid $dark;
  }

  &__logo {
    img {
      width: 110px;
    }
  }

  &--icon__item {
    margin-right: 22px;
  }

  &__form {
    margin-bottom: 0;
    &__group {
      position: relative;
      margin-right: 8px;

      .input-custom {
        background-color: #343434;
        padding: 10px 10px;
        border: none;
        color: $gray-2;
        font-size: 12px;
        line-height: 24px;
        font-weight: $font-light;
        letter-spacing: 1px;

        &::placeholder {
          color: $gray-2;
          font-size: 12px;
          line-height: 24px;
          font-weight: $font-light;
          letter-spacing: 1px;
        }
      }
    }

    a.button {
      margin-left: 8px;
    }
  }

  &--menu {
    border-bottom: 5px solid $dark;

    &__item {
      padding: 0px 10px;

      a {
        position: relative;
        font-weight: $font-bold;
        letter-spacing: 1px;
        padding: 16px 0px;
        display: block;
        color: $white;

        &:after {
          background-image: url("./assets/img/line-hover.png");
          background-repeat: no-repeat;
          background-position: center;
          height: 5px;
          bottom: 10px;
          transition: all 0.3s;
          opacity: 0;
          visibility: hidden;
        }

        &:hover:after {
          opacity: 1;
          visibility: visible;
        }

        .menu-note {
          position: absolute;
          top: 4px;
          right: -18px;
          font-size: 8px;
          line-height: 9px;
          padding: 3px 10px;
          font-family: $font-family-secon;
          background-image: url("./assets/img/rectangle-green.png");
          background-repeat: no-repeat;
          background-position: center;

          &.hot {
            background-image: url("./assets/img/rectangle-red.png");
          }
        }
      }

      &.active a:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
